{{/* Author profile box */}}
{{ if site.Params.debug_layout }}<div><i>layout: partials/page_author</i></div>{{ end }}

{{/* Don't show author box on normal pages or if author box disabled. */}}
{{ if ne .Type "page" | and (not (or (eq site.Params.profile false) (eq .Params.profile false))) }}

{{ $profile_page := site.GetPage ("/about-me") }}
{{ with $profile_page }}
{{ $profile_url := .RelPermalink }}
{{ $avatar := (.Resources.ByType "image").GetMatch "*avatar*" }}
<div class="media author-card content-widget-hr">
  {{ if and site.Params.gravatar .Params.email }}
  <img class="portrait mr-3" src="https://s.gravatar.com/avatar/{{ md5 .Params.email }}?s=200')" alt="Avatar">
  {{ else if $avatar }}
  {{ $avatar_image := $avatar.Fill "250x250 Center" }}
  <img class="portrait mr-3" src="{{ $avatar_image.RelPermalink }}" alt="Avatar">
  {{ end }}

  <div class="media-body">
    <h5 class="card-title"><a href="{{$profile_url}}">{{.Params.name}}</a></h5>
    {{ with .Params.role }}<h6 class="card-subtitle">{{. | markdownify | emojify}}</h6>{{end}}
    {{ with .Params.bio }}<p class="card-text">{{. | markdownify | emojify}}</p>{{end}}
    {{ partial "social_links" . }}
  </div>
</div>
{{end}}{{/* Profile page block */}}
{{end}}{{/* Show profile block */}}
